<app-container>
  <app-table [columns]="columns" [headers]="headers" [data$]="resources$"
    *ngIf="((resources$ |async)?.length !== 0) && !(loader$ | async)" class="w-full"></app-table>
  <app-loader *ngIf="loader$ |async"></app-loader>

  <!-- No Resources -->
  <div *ngIf="((resources$ |async)?.length === 0) && !(loader$ | async)"
    class="flex flex-col items-center justify-center w-full h-full space-y-4">
    <p>No hay tipos de recursos creados</p>
    <button routerLink='nuevo-recurso' class="btn-primary hover:bg-green-900">
      <span>Crear nuevo tipo de recurso</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
  </div>
  <!-- End No Resources -->

</app-container>

<app-add-component-modal [showBackDrop]="showBackDropCreateComponent" [showModal]="showCreateComponent"
  [resourceTypeId]="resourceId" (close)="onCloseCreateComponentModal()">
</app-add-component-modal>
<app-add-document-modal [showBackDrop]="showBackDropCreateDocument" [showModal]="showCreateDocument"
  [resourceTypeId]="resourceId" (close)="onCloseCreateDocumentModal()">
</app-add-document-modal>