<app-container>
  <app-table [columns]="columns" [headers]="headers" [data$]="resources$"
    *ngIf="((resources$ |async)?.length !== 0) && !(loader$ | async)" class="w-full"></app-table>
  <app-loader *ngIf="loader$ |async"></app-loader>
</app-container>

<app-add-component-modal [showBackDrop]="showBackDropCreateComponent" [showModal]="showCreateComponent"
  [resourceTypeId]="resourceId" (close)="onCloseCreateComponentModal()">
</app-add-component-modal>
<app-add-document-modal [showBackDrop]="showBackDropCreateDocument" [showModal]="showCreateDocument"
  [resourceTypeId]="resourceId" (close)="onCloseCreateDocumentModal()">
</app-add-document-modal>