<!-- Side Nav -->
<div [ngClass]="{'w-14': !isOpen, 'sm:w-60 px-2' : isOpen}" (mouseenter)="toggleSideBar()"
  (mouseleave)="toggleSideBar()"
  class="static top-0 left-0 flex flex-col items-center w-12 h-screen transition-all ease-in sm:w-12 bg-brand">

  <!-- Logo -->
  <img class="mb-8 w-14 sm:w-40" src="assets/img/logo-white.png" alt="Mejor en Bici">
  <!-- End Logo -->

  <!-- Link -->
  <div *ngIf="userRole == 'admin' || userRole == 'client' || userRole == 'client-admin ' || userRole == 'meb-admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="clientes" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="clientes">Clientes</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="equipo" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="equipo">Equipo</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin' || userRole == 'client' || userRole == 'client-admin '" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="equipo/admin-clientes" xmlns="http://www.w3.org/2000/svg"
      class="w-8 h-8 outline-none focus:outline-none" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="equipo/admin-clientes">Admin Cliente</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="recursos" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="recursos">Tipos de Recursos</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin' || userRole == 'inventory-manager'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="inventario" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="inventario">Inventario</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="check-ups" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="check-ups">Chequeos</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="mantenimientos" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="mantenimientos">Mantenimientos</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="reparaciones" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="reparaciones">Reparaciones</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="aprobaciones" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="aprobaciones">Aprobaciones</a>
  </div>
  <!-- End Link -->
  <!-- Link -->
  <div *ngIf="userRole == 'admin'" [ngClass]="{'justify-center': !isOpen}"
    class="flex w-full space-x-4 text-lg text-white cursor-pointer hover:text-green-900">
    <svg routerLink="clientes" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 outline-none focus:outline-none"
      fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
    </svg>
    <a *ngIf="isOpen" class="hidden sm:flex" routerLink="reservas">Reservas</a>
  </div>
  <!-- End Link -->

</div>
<!-- End Side Nav -->