<table class="hidden w-full text-xs text-center table-auto sm:table sm:text-lg">
  <thead>
    <tr>
      <th *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of data$ |async; let i = index;">
      <tr [ngClass]="{'bg-gray-200': i % 2 === 0}" class="text-center">
        <!-- Text -->
        <td class="p-2" *ngFor="let column of columns">
          <span [ngSwitch]="column.type">
            <!-- Text -->
            <span *ngSwitchCase="columnTypes.text">{{item[column.name]}}</span>
            <!-- Boolean -->
            <span *ngSwitchCase="columnTypes.boolean">{{item[column.name]? 'Si' : 'No'}}</span>
            <!-- Image -->
            <div *ngSwitchCase="columnTypes.image">
              <img class="rounded-full w-8 h-8" src="{{item[column.name]}}" alt="Image"
                *ngSwitchCase="columnTypes.image">
            </div>
            <!-- Extra -->
            <span *ngSwitchCase="columnTypes.extra">
              <div class="flex items-center justify-center space-x-2">
                <span class="cursor-pointer focus:outline-none text-brand hover:text-green-900"
                  (click)="column.onClick">
                  {{item[column.name].length}}
                </span>
                <svg (click)="onClickPlus(column.onClickPlus, i)" xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 outline-none cursor-pointer focus:outline-none text-brand hover:text-green-900"
                  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
              </div>
            </span>
            <!-- Edit -->
            <span *ngSwitchCase="columnTypes.edit">
              <svg (click)="column.onClick" xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 m-auto cursor-pointer focus:outline-none hover:text-green-900" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </span>
            <!-- Delete -->
            <span *ngSwitchCase="columnTypes.delete">
              <svg (click)="column.onClick" xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 m-auto cursor-pointer hover:text-green-900" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </span>
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>