<!-- Main Container -->
<div class="flex-col justify-between w-full sm:py-12 sm:pl-4" id="main-content">
  <!-- HEADER -->
  <div class="flex justify-between mt-12 mb-12 sm:m-0 pr-4 sm:mb-4 flex-col">
    <!-- Title -->
    <div class="flex items-center space-x-2 sm:space-x-4">
      <svg routerLink="aprovaciones" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 sm:w-12 sm:h-12 text-brand"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <h1 class="font-bold text:2xl sm:text-5xl">{{title}}</h1>
    </div>
    <!-- End Title -->
    <div class="mt-8 flex-row flex">
      <a class="hover:underline hover:text-brand flex-row flex mr-4" routerLink="/aprovaciones"
        [ngClass]="{'underline text-brand': route.url=== '/aprovaciones'}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>
          Pendientes
        </span>
      </a>
      <a class="hover:underline hover:text-brand flex-row flex" routerLink="/aprovaciones/historial"
        [ngClass]="{'underline text-brand': route.url==='/aprovaciones/historial'}">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
        </svg>
        <span>
          Historial
        </span>
      </a>
    </div>
  </div>
  <!-- BODY -->
  <div class="h-full overflow-y-scroll">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- End Main Container -->