<div class="flex flex-col items-center justify-center h-full space-y-4 py-14 sm:w-full">
  <!-- Client Table Desktop only -->
  <table *ngIf="((clients$ |async)?.length !== 0) && !(loader$ | async)"
    class="hidden w-full text-xs text-center table-auto sm:table sm:text-lg">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>NIT</th>
        <th>Administrador Mejor en Bici</th>
        <th>Súper administrador cliente</th>
        <th>Sedes</th>
        <th>Usuarios</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let client of clients$ |async; let i = index;">
        <tr [ngClass]="{'bg-gray-200': i % 2 === 0}" class="text-center">
          <td class="p-2"> <img class="w-8 rounded-full" src="{{client.logo}}" alt=""> </td>
          <td class="p-2"> {{client.name}} </td>
          <td class="p-2"> {{client.nit}} </td>
          <td class="p-2"> {{client.meb_admin ? (client.meb_admin?.firstName + ' '+
            client.meb_admin?.lastName) : 'Sin asignar'}} </td>
          <td class="p-2"> {{client.super_admin_client ? (client.super_admin_client?.firstName + ' '+
            client.super_admin_client?.lastName) : 'Sin asignar'}} </td>
          <td class="p-2"> 0 </td>
          <td class="p-2"> 0 </td>
          <td class="p-2">
            <svg [routerLink]="['/clientes', client.id]" xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 m-auto cursor-pointer focus:outline-none hover:text-green-900" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
          </td>
          <td class="p-2">
            <svg (click)="confirmDelete(client.id)" xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 m-auto cursor-pointer hover:text-green-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </td>

        </tr>
      </ng-container>

    </tbody>
  </table>
  <!-- End Client Table Desktop only -->

  <!-- Mobile Table -->
  <div class="flex flex-col h-screen space-y-2 overflow-y-auto sm:hidden"
    *ngIf="((clients$ |async)?.length !== 0) && !(loader$ | async)">

    <div [ngClass]="{'bg-gray-200': i % 2 === 0}" class="flex flex-col justify-center"
      *ngFor="let client of clients$ |async; let i = index;">
      <img class="w-12 mx-auto mb-12" src="{{client.logo}}" alt="">
      <div><span class="font-bold">Nombre:</span> {{client.name}}</div>
      <div><span class="font-bold">Nit:</span>{{client.nit}}</div>
      <div><span class="font-bold">Administrador Mejor en Bici:</span>{{client.meb_admin ? (client.meb_admin?.firstName
        + ' '+
        client.meb_admin?.lastName) : 'Sin asignar'}}</div>
      <div><span class="font-bold">Súper administrador cliente:</span> {{client.super_admin_client ?
        (client.super_admin_client?.firstName + ' '+
        client.super_admin_client?.lastName) : 'Sin asignar'}}</div>
      <div><span class="font-bold">Sedes:</span> 0</div>
      <div><span class="font-bold">Usuarios:</span> 0</div>
    </div>


  </div>
  <!-- End Mobile Table -->
  <!-- Loader -->
  <app-loader *ngIf="loader$ |async"></app-loader>
  <!-- End Loader -->
  <!-- No Clients -->
  <div *ngIf="((clients$ |async)?.length === 0) && !(loader$ | async)"
    class="flex flex-col items-center justify-center w-full h-full space-y-4">
    <p>Aun no tienes clientes creados</p>

    <!-- Add Client Btn -->
    <button routerLink='nuevo-cliente' class="btn-primary hover:bg-green-900">
      <span>Crear nuevo cliente</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
    <!-- End Add Client Btn -->

  </div>
  <!-- End No Clients -->

</div>
