<!-- Title -->
<div class="flex items-center space-x-2 sm:space-x-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 sm:w-12 sm:h-12 text-brand"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
    />
  </svg>
  <h1 class="font-bold text:2xl sm:text-5xl">{{ title }}</h1>
</div>
<div class="h-full overflow-y-scroll">
  <app-back-arrow [backRoute]="'/clientes/'"></app-back-arrow>
  <!-- End Title -->
  <div class="flex flex-col items-center justify-center w-full space-y-4 pb-12">
    <!-- Form Container -->
    <div class="flex flex-col items-center justify-center w-full pb-12 sm:pb-0">
      <!-- Errors -->
      <div class="h-12 font-bold text-red-500">
        <div *ngFor="let error of errors$ | async">
          {{ error.message }}
        </div>
      </div>
      <!-- End Errors -->
      <!-- Form -->
      <form
        [formGroup]="UserGroup"
        class="flex flex-col items-center justify-center w-full space-y-8 sm:w-6/12"
      >
        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- firstName -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="firstName">* Nombres:</label>
            <input
              name="firstName"
              formControlName="firstName"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('firstName')?.touched &&
                  UserGroup.get('firstName')?.hasError('required')
              }"
              type="text"
            />
          </div>
          <!-- lastName -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="lastName">* Apellidos:</label>
            <input
              name="lastName"
              formControlName="lastName"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('lastName')?.touched &&
                  UserGroup.get('lastName')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>

        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- CEDULA -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="cedula">* Cédula:</label>
            <input
              name="documentNumber"
              formControlName="documentNumber"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('documentNumber')?.touched &&
                  UserGroup.get('documentNumber')?.hasError('required')
              }"
              type="text"
            />
          </div>
          <!-- email -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="email">
              * Correo electronico:
            </label>
            <input
              name="email"
              formControlName="email"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('email')?.touched &&
                  UserGroup.get('email')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>

        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- password-->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="password">* Contraseña:</label>
            <input
              name="password"
              formControlName="password"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('password')?.touched &&
                  UserGroup.get('password')?.hasError('required')
              }"
              type="text"
            />
          </div>
          <!-- CLIENTE -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="cliente">* Cliente:</label>
            <input
              name="cliente"
              formControlName="cliente"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('cliente')?.touched &&
                  UserGroup.get('cliente')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>

        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- SEDE -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="sede">* Sedes:</label>
            <select
              formControlName="sede"
              name="sede"
              id="sede"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
            >
              <option [ngValue]="offi.name" *ngFor="let offi of office">
                {{offi.name}}
              </option>
            </select>
          </div>
          <!-- MEDIO DE TRANSPORTE -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="transPrin">
              * Medio de transporte principal:
            </label>
            <input
              name="transPrin"
              formControlName="transPrin"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('transPrin')?.touched &&
                  UserGroup.get('transPrin')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- MEDIO DE TRANSPORTE SECUNDARIO -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="transSec">
              * Medio de transporte secundario:
            </label>
            <input
              name="transSec"
              formControlName="transSec"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('transSec')?.touched &&
                  UserGroup.get('transSec')?.hasError('required')
              }"
              type="text"
            />
          </div>
          <!-- CELULAR -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="sede">* teléfono Celular:</label>
            <input
              name="telCelular"
              formControlName="telCelular"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('telCelular')?.touched &&
                  UserGroup.get('telCelular')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- CONTACTO DE EMERGENCIA -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="conEmergencia">
              * Contacto de emergencia:
            </label>
            <input
              name="conEmergencia"
              formControlName="conEmergencia"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('conEmergencia')?.touched &&
                  UserGroup.get('conEmergencia')?.hasError('required')
              }"
              type="text"
            />
          </div>
          <!-- TELEFONO CONTACTO EMERGENCIA-->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="telConEmergencia">
              * Teléfono contacto emergencia:
            </label>
            <input
              name="telConEmergencia"
              formControlName="telConEmergencia"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('telConEmergencia')?.touched &&
                  UserGroup.get('telConEmergencia')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- GRUPO SANGUINEO -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="grupoSanguineo">
              * Grupo sanguineo:
            </label>
            <select
              formControlName="grupoSanguineo"
              name="grupoSanguineo"
              required
              autocomplete="grupoSanguineo"
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
            >
              <option [ngValue]="'O-'">O-</option>
              <option [ngValue]="'O+'">O+</option>
              <option [ngValue]="'A+'">A+</option>
              <option [ngValue]="'A-'">A-</option>
              <option [ngValue]="'B-'">B-</option>
              <option [ngValue]="'B+'">B+</option>
              <option [ngValue]="'AB-'">AB-</option>
              <option [ngValue]="'AB+'">AB+</option>
            </select>
          </div>
          <!-- EPS -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="eps">* EPS:</label>
            <input
              name="eps"
              formControlName="eps"
              required
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
              [ngClass]="{
                'border-solid border-red-500 outline-red-500':
                  UserGroup.get('eps')?.touched &&
                  UserGroup.get('eps')?.hasError('required')
              }"
              type="text"
            />
          </div>
        </div>
        <div
          class="flex flex-col items-center justify-center w-full sm:space-x-8 sm:flex-row"
        >
          <!-- SEXO -->
          <div class="flex flex-col w-full h-16">
            <label class="text-gray-400" for="sexo">* Sexo:</label>
            <select
              formControlName="sexo"
              name="sexo"
              required
              autocomplete="sexo"
              class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand"
            >
              <option [ngValue]="'male'">Masculino</option>
              <option [ngValue]="'fename'">Femenino</option>
            </select>
          </div>
        </div>

        <!-- Buttons -->
        <div class="flex items-center justify-center w-full">
          <div class="flex items-center justify-center w-full space-x-8">
            <!-- Create button -->
            <button
              [ngClass]="{ 'opacity-40 cursor-default': !UserGroup.valid }"
              [disabled]="!UserGroup.valid"
              class="w-42 btn-primary"
              (click)="submitForm()"
            >
              {{title}}
              <svg
                *ngIf="actualizar != false"
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 animate-spin"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
                />
              </svg>
            </button>
            <!-- Cancel button -->
            <button
              (click)="onBack()"
              type="reset"
              class="flex items-center justify-center px-4 py-2 space-x-2 text-gray-400 bg-white border border-gray-400 rounded-md w-42 focus:outline-none"
            >
              Cancelar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
