<!-- Main Container -->
<div class="flex-col justify-between w-full sm:py-12 h-5/6 sm:px-4">
  <div class="flex justify-between mt-12 mb-12 sm:m-0">
    <!-- Title -->
    <div class="flex items-center space-x-2 sm:space-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 sm:w-12 sm:h-12 text-brand" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
      </svg>
      <h1 class="font-bold text:2xl sm:text-5xl">{{title}}</h1>
    </div>
    <!-- End Title -->
    <!-- Add Client Btn -->
    <button *ngIf="showAddBtn" routerLink="nuevo-recurso" class="btn-primary hover:bg-green-900">
      <span class="hidden sm:flex">Crear nuevo recurso</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
    <!-- End Add Client Btn -->
  </div>
  <router-outlet></router-outlet>
</div>
<!-- End Main Container -->
