<div class="flex flex-col items-center justify-center space-y-4 py-14 px-4 sm:w-full h-full mt-4">
  <!-- Resources Table Desktop only -->
  <div class="flow-root h-full w-full">
    <table *ngIf="((resources$ |async)?.length !== 0) && !(loader$ | async)"
      class="hidden w-full text-xs text-center table-auto sm:table sm:text-lg overflow-x-scroll overflow-y-scroll">
      <thead>
        <tr>
          <th>Tipo</th>
          <th>Referencia</th>
          <th>Código Qr</th>
          <th>Código del armario</th>
          <th>Cliente</th>
          <th>Oficina</th>
          <th>Estado</th>
          <th>Documentos</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let resource of resources$ |async; let i = index;">
          <tr [ngClass]="{'bg-gray-200': i % 2 === 0}" class="text-center">
            <td class="p-2"> {{resource.type}} </td>
            <td class="p-2"> {{resource.reference}} </td>
            <td class="p-2">
              <img [src]="'data:image/jpeg;base64,' + resource.qrCode" alt="Código qr"
                style="height: 150px; max-width: 150px;" class="mx-auto" />
            </td>
            <td class="p-2"> {{resource.lockerPassword}} </td>
            <td class="p-2"> {{resource.client}} </td>
            <td class="p-2"> {{resource.office}} </td>
            <td class="p-2">
              {{
              resource.status === resourceStatus.available?
              'Disponible'
              :
              ''
              }}
            </td>
            <td class="p-2">
              <span class="cursor-pointer focus:outline-none text-brand hover:text-green-900"
                [routerLink]="['/inventario', resource.id, 'documents']">{{resource.documents?.length}}</span>
            </td>
          </tr>
        </ng-container>

      </tbody>
    </table>

  </div>
  <!-- End Resource Table Desktop only -->

  <!-- Mobile Table -->
  <div class="flex flex-col h-screen space-y-2 overflow-y-auto sm:hidden"
    *ngIf="((resources$ |async)?.length !== 0) && !(loader$ | async)">

    <div [ngClass]="{'bg-gray-200': i % 2 === 0}" class="flex flex-col justify-center"
      *ngFor="let resource of resources$ |async; let i = index;">
      <div><span class="font-bold">Tipo:</span> {{resource.type}}</div>
      <div><span class="font-bold">Referencia:</span>{{resource.reference}}</div>
      <div><span class="font-bold">Código Qr:</span>
        <img [src]="'data:image/jpeg;base64,' + resource.qrCode" alt="Código qr" style="height: 150px;"
          class="mx-auto" />
      </div>
      <div><span class="font-bold">Código del armario:</span>{{resource.lockerPassword}}</div>
      <div><span class="font-bold">Cliente:</span>{{resource.client}}</div>
      <div><span class="font-bold">Oficina:</span>{{resource.office}}</div>
      <div><span class="font-bold">Tiempo de prestamo:</span>
        {{
        resource.status === resourceStatus.available?
        'Disponible'
        :
        ''
        }}</div>
      <div><span class="font-bold">Documentos:</span> {{resource.documents?.length}}</div>
    </div>
  </div>
  <!-- End Mobile Table -->
  <!-- Loader -->
  <app-loader *ngIf="loader$ |async"></app-loader>
  <!-- End Loader -->
  <!-- No Resources -->
  <div *ngIf="((resources$ |async)?.length === 0) && !(loader$ | async)"
    class="flex flex-col items-center justify-center w-full h-full space-y-4">
    <p>Aun no tienes recursos creados</p>

    <button routerLink='nuevo-recurso' class="btn-primary hover:bg-green-900">
      <span>Crear nuevo recurso</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>

  </div>
  <!-- End No Resources -->
</div>