<div class="flex flex-col items-center justify-center w-full h-full bg-brand">
  <div class="h-12 font-bold text-red-500">
    <div *ngIf="newPassword.dirty && newPasswordConfirm.dirty && (password !== passwordConfirm)">
      Las clave no coincide.
    </div>
  </div>
  <!-- Login Form -->
  <form #loginForm="ngForm" class="flex-col items-center justify-center w-4/12 space-y-4 h-96">
    <h1 class="text-5xl font-bold text-white">Recuperación de clave</h1>
    <!-- Form row -->
    <div class="flex-col items-center justify-center w-full space-y-8">
      <!-- Form input -->
      <div class="flex flex-col w-full h-16">
        <label class="text-white" for="password"> Nueva clave:</label>
        <input #newPassword="ngModel" name="password" [(ngModel)]="password" required
          class="bg-gray-100 border-none rounded-md focus:ring-brand focus:outline-none focus:border-brand"
          [ngClass]="{'border-solid border-red-500 outline-red-500': (newPassword.dirty || newPassword.touched) && newPassword.invalid}"
          type="password">
      </div>
      <!-- Form input -->
      <!-- Form input -->
      <div class="flex flex-col w-full h-16">
        <label class="text-white" for="passwordConfirm"> Confirmar clave:</label>
        <input name="passwordConfirm" required [(ngModel)]="passwordConfirm" #newPasswordConfirm="ngModel"
          class="bg-gray-100 border-none rounded-md focus:ring-brand focus:outline-none focus:border-brand"
          [ngClass]="{'border-solid border-red-500 outline-red-500': (newPasswordConfirm.dirty || newPasswordConfirm.touched) && newPasswordConfirm.invalid}"
          type="password">
      </div>
      <!-- Form input -->
    </div>
    <!-- End Form row -->

    <!-- Form row -->
    <div class="flex items-center justify-center w-full">
      <!-- Form buttons -->
      <div class="flex items-center justify-center w-full space-x-8">
        <button (click)="resetPassword()" [ngClass]="{'opacity-40 cursor-default': isDisabled()}"
          [disabled]="isDisabled()" class="p-2 bg-white rounded-md w-44 text-brand hover:bg-green-900 hover:text-white">
          <span> Cambiar clave</span>

        </button>
      </div>
      <!-- Form buttons -->
    </div>
    <!-- End Form row -->
  </form>
  <!-- End Login Form -->

</div>