<!-- Main Container -->
<div class="flex w-full h-full">
  <!-- Side Navigation -->
  <app-sidenav *ngIf="auth$ | async"></app-sidenav>
  <!-- End Side Navigation -->

  <!-- Main Content -->
  <div class="flex-col main-content">
    <!-- Header Nav -->
    <app-headernav (logOut)="onLogOut()" *ngIf="auth$ | async"></app-headernav>
    <!-- End Header Nav -->

    <!-- Router -->
    <router-outlet></router-outlet>
    <!-- End Router -->
  </div>
  <!-- End Content -->

</div>
<!-- End Main Container -->
