<div class="flex flex-col items-center justify-center h-full space-y-4 py-14 sm:w-full">
  <!-- No Clients -->
  <div *ngIf="((users$ |async)?.length === 0) && !(loader$ | async)"
    class="flex flex-col items-center justify-center w-full h-full space-y-4">
    <p>Aun no tienes administradores creados</p>

    <!-- Add Client Btn -->
    <button routerLink='nuevo' class="btn-primary hover:bg-green-900">
      <span>Crear nuevo administrador</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
    <!-- End Add Client Btn -->

  </div>
  <!-- End No Clients -->
  <!-- Table only -->
  <table *ngIf="((users$ |async)?.length !== 0) && !(loader$ | async)"
    class="w-full text-xs text-center table-auto sm:text-lg">
    <thead>
      <tr>
        <th></th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Documento</th>
        <th>Teléfono</th>
        <th>Rol</th>

      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users$ |async; let i = index;">
        <tr [ngClass]="{'bg-gray-200': i % 2 === 0}" class="text-center">
          <td class="p-2"> <img class="w-8 rounded-full" src="{{user.photo}}" alt=""> </td>
          <td class="p-2"> {{user.firstName}} </td>
          <td class="p-2"> {{user.lastName}} </td>
          <td class="p-2"> {{user.email}} </td>
          <td class="p-2"> {{user.documentNumber}} </td>
          <td class="p-2"> {{user.phone}} </td>
          <td class="p-2"> {{user.role}} </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
  <!-- End  Table -->
</div>
