<div class="flex flex-col items-center justify-center h-full space-y-4 py-14 sm:w-full">
  <!-- No Team Members -->
  <div *ngIf="client.offices?.length === 0" class="flex flex-col items-center justify-center w-full h-full space-y-4">
    <p>Este cliente no posee sedes</p>

    <!-- Add Member Btn -->
    <button [routerLink]="['/clientes', client.id, 'crear-sede']" class="btn-primary hover:bg-green-900">
      <span>Crear nueva sede</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>
    <!-- End Add Member Btn -->

  </div>
  <!-- End No Team Members -->
  <!-- Offices Table -->
  <table *ngIf="client && client.offices?.length"
    class="hidden w-full text-xs text-center table-auto sm:table sm:text-lg">
    <thead>
      <tr>

        <th>Nombre</th>
        <th>País</th>
        <th>Ciudad</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let office of client.offices; let i = index;">
        <tr [ngClass]="{'bg-gray-200': i % 2 === 0}" class="text-center">
          <td class="p-2"> {{office.name}} </td>
          <td class="p-2"> {{office.country}} </td>
          <td class="p-2"> {{office.city}} </td>
          <td class="p-2"> {{office.location.lat}} </td>
          <td class="p-2"> {{office.location.lng}} </td>
          <td class="p-2">
            <svg (click)="confirmDelete(office.id)" xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 m-auto cursor-pointer hover:text-green-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </td>




        </tr>
      </ng-container>

    </tbody>
  </table>
  <!-- Offices Table -->
</div>
