<!-- HEADER -->
<div class="flex justify-between mt-12 mb-12 sm:m-0 pr-4 sm:mb-4 flex-col">

  <!-- Title line -->
  <div class="flex flex-row justify-between">
    <!-- Title -->
    <div class="flex items-center space-x-2 sm:space-x-4">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 sm:w-12 sm:h-12 text-brand"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"
      />
    </svg>
      <h1 class="font-bold text:2xl sm:text-5xl">{{title}}</h1>
    </div>
    
    <!-- End Title -->
    <!-- Action Buttons -->
    <div class="flex flex-row">
      
      <!-- Download button -->
      <button (click)="onDownloadExcel()" class="btn-primary hover:bg-green-900 mx-5"
        [disabled]="downloading" [ngClass]="{'opacity-40 cursor-wait': downloading}">
        <span class="hidden sm:flex">Descargar</span>
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
          *ngIf="downloading" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
          </path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          *ngIf="!downloading">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
        </svg>
      </button>
    </div>
    <!-- End Action Buttons -->
  </div>
  <!-- End title line -->

</div>
<!-- End header -->

<!-- BODY -->
<div class="h-full overflow-y-scroll">

<div class="flex flex-col items-center justify-center space-y-4 py-14 px-4 sm:w-full h-full mt-4">


  <!-- Resources Table Desktop only -->
  <div class="flow-root h-full w-full">

    <div class="flex flex-col mb-4 w-full">


      <!-- Filters -->
      <div class="flex flex-col mb-4 w-11/12 lg:w-10/12 lg:flex-row">
        <div class="flex flex-col sm:flex-row w-full">
          <!-- Client -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="client">Cliente:</label>
            <select name="client" [(ngModel)]="client" id="client" (ngModelChange)="filterResources()"
            class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand" type="text">
              <option [value]="''">Todos</option>
              <ng-container *ngFor="let client of clients$ | async">
                <option [ngValue]="client.name">
                  {{client.name}}
                </option>
              </ng-container>
            </select>
          </div>
          <!-- office -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="office">Sede:</label>
            <select name="office" [(ngModel)]="office" required id="office" (ngModelChange)="filterResources()"
            class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand w-full">
              <ng-container *ngIf="clientSelected !== undefined && clientSelected !== null">
                <option [value]="''">Todos</option>
                <option [ngValue]="office.name" *ngFor="let office of clientSelected.offices">
                  {{office.name}}
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row w-full">
          <div class="flex flex-row flex-1 my-3 lg:my-0 mx-4 w-full sm:w-1/2">
            <div class="w-1/2 mr-3">
              <label class="text-gray-400" for="from">Desde:</label>
              <input name="from" [(ngModel)]="from" (ngModelChange)="filterResources()"
                class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand w-full"
                type="date">
            </div>
            <div class="w-1/2">
              <label class="text-gray-400" for="to">Hasta:</label>
              <input name="to" [(ngModel)]="to" (ngModelChange)="filterResources()"
                class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand w-full"
                type="date">
            </div>
          </div>
         </div>
         <div class="flex flex-col sm:flex-row w-full">
          <!-- Referencia -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="referncia">Referencia:</label>
            <input name="reference" [(ngModel)]="reference" (ngModelChange)="filterResources()"
                class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand" type="text">
          </div>
          <!-- cedula -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="cedula">Cédula:</label>
            <input name="reference" [(ngModel)]="document" (ngModelChange)="filterResources()"
            class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand" type="text">
          </div>
        </div>
        <div class="flex flex-col sm:flex-row w-full">  
          <!-- Calificación servicio -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="cal-servicio">Calificación servicio:</label>
            <input name="cal-servicio" [(ngModel)]="calificacion" (ngModelChange)="filterResources()"
                class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand" type="text">
          </div>
          <!-- Pasó tiempo entrega -->
          <div class="flex flex-col flex-1 my-3 lg:my-0 mx-4 w-full">
            <label class="text-gray-400" for="office">Pasó tiempo entrega:</label>
            <input name="paso-entrega" [(ngModel)]="tiempoEntrega" (ngModelChange)="filterResources()"
            class="bg-gray-100 rounded-md focus:ring-brand focus:outline-none focus:border-brand" type="text">
          </div>
        </div>
        <div class="flex items-end justify-center flex-1 w-full">
          <button class="h-12 btn-primary hover:bg-green-900" type="submit" (click)="cleanFilter()">
            Borrar Filtros
          </button>
        </div>
      </div>
      <!-- End filters -->

      <!-- Table -->
      <table
        class="hidden w-full text-xs text-center table-auto sm:table sm:text-lg overflow-x-scroll overflow-y-scroll">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Sede Inicio</th>
            <th>Sede entrega</th>
            <th>Referencia Recurso</th>
            <th>Tiempo en reserva</th>
            <th>Tiempo en demora</th>
            <th>Viajes</th>
            <th>Calificación servicio</th>
            <th>Indicadores</th>
          </tr>
        </thead>
        <tbody>

          <ng-container
          *ngFor="let reservation of (bookings$ | async)?.reservations;
            let i = index
          "
        >
        <tr [ngClass]="{ 'bg-gray-200': i % 2 === 0 }" class="text-center">
          <td class="p-2">{{ reservation.createdAt | date }}</td>
          <td class="p-2"> {{reservation.client}} </td>
          <td class="p-2"> </td>
          <td class="p-2"> </td>
          <td class="p-2"> {{reservation.resourceRef}} </td>
          <td class="p-2"> {{ calcDays(reservation.createdAt) }} </td>
          <td class="justify-center p2">
            0
          </td>
          <td class="justify-center p-2">
            <span class="cursor-pointer focus:outline-none text-brand hover:text-green-900"
            (click)="openViajes(reservation.travels)">{{ reservation.travels?.length }}</span> 
          </td>
          <td class="justify-center p-2">
            <span class="cursor-pointer focus:outline-none text-brand hover:text-green-900"
            (click)="openCalificacion(reservation.rating, reservation.comments)">{{reservation.rating}}</span> 
          </td>
          <td class="justify-center flex p2">
            <span class="cursor-pointer focus:outline-none text-brand hover:text-green-900" *ngIf="existIndicators(reservation.travels)"
            (click)="openIndicadores(reservation.travels)">Ver</span>
          </td>
        </tr>
      </ng-container>

        </tbody>
      </table>
      <!-- End Table -->


      <app-loader *ngIf="loader$ | async"></app-loader>

      <div class="justify-end flex-row flex">
        Pag. {{ page }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 outline-none focus:outline-none mx-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          [ngClass]="{
            'text-brand hover:text-green-900 cursor-pointer': page > 1
          }"
          (click)="changePage(page - 1, 'previous')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6 outline-none focus:outline-none mx-2"
          [ngClass]="{
            'text-brand hover:text-green-900 cursor-pointer':
              (bookings$ | async)?.reservations?.length !== 0
          }"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          (click)="changePage(page + 1, 'following')"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </div>

    </div>
    <!-- End Resource Table Desktop only -->

  </div>

</div>


<!-- Modal to list Indicadores -->
<div *ngIf="showModalIndicador" class="fixed inset-0 z-10 overflow-y-auto" aria-labelledby="modal-title"
  role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:items-end sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div [ngClass]="{'opacity-0': !showDomainListModal, 'opacity-100': showDomainListModal}"
      class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white shadow-xl rounded-xl sm:my-8 sm:align-middle sm:max-w-xl sm:w-full">
      <div class="px-4 pt-5 pb-4 bg-brand sm:p-6 sm:pb-4">
        <h1 class="text-xl text-white sm:text-3xl">Calificación Servicio</h1>
      </div>
      <div class="px-12 py-10 overflow-y-auto bg-white sm:flex sm:items-start max-h-96">
        <!-- Client Table Desktop only -->
        <div class="overflow-y-auto bg-white sm:flex-row sm:items-start">               
          
            <div *ngFor="let indicator of travelsContent;
            let i = index">
              <div class="pt-5 pb-4">
                <b>Indicador {{ i + 1}}</b>
                <hr>
              </div>                
              <div class="space-y-1">
                <div><h3><b>Huella de carbono</b></h3></div>
                <div><p> {{ indicator.environmentalFootprint }} gr CO2</p></div>
              </div>
              <div class="space-y-1">
                <div><h3><b>Huella enerética</b></h3></div>
                <div><p> {{ indicator.energyFootprint }} galones de gasolina</p></div>
              </div>
              <div class="space-y-1">
                <div><h3><b>Huella económica</b></h3></div>
                <div><p>${{ indicator.economicFootprint }}</p></div>
              </div>
              <div class="space-y-1">
                <div><h3><b>Calorias</b></h3></div>
                <div><p> {{ indicator.calories }}</p></div>
              </div>
              <div class="space-y-1">
                <div><h3><b>Kilometros</b></h3></div>
                <div><p> {{ indicator.km }}</p></div>
              </div>
              <div class="space-y-1">
                <div><h3><b>Puntos</b></h3></div>
                <div><p> 0</p></div>
              </div>
            </div>
          
          <!-- End Client Table Desktop only -->
        </div>
        <!-- End Client Table Desktop only -->
      </div>
      <div class="px-4 py-3  sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" (click)="onCloseLastModal()"
          class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover: focus:outline-none focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal to list Calificacion servicio -->


<!-- Modal to list Calificacion servicio -->
<div *ngIf="showModalCalificacion" class="fixed inset-0 z-10 overflow-y-auto" aria-labelledby="modal-title"
  role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:items-end sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div [ngClass]="{'opacity-0': !showDomainListModal, 'opacity-100': showDomainListModal}"
      class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white shadow-xl rounded-xl sm:my-8 sm:align-middle sm:max-w-xl sm:w-full">
      <div class="px-4 pt-5 pb-4 bg-brand sm:p-6 sm:pb-4">
        <h1 class="text-xl text-white sm:text-3xl">Calificación Servicio</h1>
      </div>
      <div class="px-12 py-10 overflow-y-auto bg-white sm:flex sm:items-start max-h-96">
        <!-- Client Table Desktop only -->
        <div class="overflow-y-auto bg-white sm:flex-row sm:items-start max-h-96">
          <!-- Client Table Desktop only -->
          <div class="space-y-1">
            <div><h3><b>Calificación</b></h3></div>
            <div><p>{{ textTravel }}</p></div>
          </div>
          <div class="space-y-1">
            <div><h3><b>Comentario</b></h3></div>
            <div><p>{{ commentTravel }}</p></div>
          </div>         
          
          <!-- End Client Table Desktop only -->
        </div>
        <!-- End Client Table Desktop only -->
      </div>
      <div class="px-4 py-3  sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" (click)="onCloseLastModal()"
          class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover: focus:outline-none focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal to list Calificacion servicio -->

<!-- Modal to list viajes -->
<div *ngIf="showModalViajes" class="fixed inset-0 z-10 overflow-y-auto" aria-labelledby="modal-title"
  role="dialog" aria-modal="true">
  <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:items-end sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity bg-gray-500 bg-opacity-75" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div [ngClass]="{'opacity-0': !showDomainListModal, 'opacity-100': showDomainListModal}"
      class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white shadow-xl rounded-xl sm:my-8 sm:align-middle sm:max-w-xl sm:w-full">
      <div class="px-4 pt-5 pb-4 bg-brand sm:p-6 sm:pb-4">
        <h1 class="text-xl text-white sm:text-3xl">Viajes</h1>
      </div>
      <div class="px-12 py-12 overflow-y-auto bg-white sm:flex-row sm:items-start max-h-96">
       <!-- Client Table Desktop only -->
       <div class="space-y-1" *ngFor="let travel of travelsModal; let i = index;">
        <div><h3><b>Viaje {{ i + 1 }}:</b></h3></div>
        <div><p> Desde: {{ travel.createdAt | date }}</p></div>
        <div><p> dirección: {{ travel.destination }}</p></div>
      </div>
      <!-- End Client Table Desktop only -->
      </div>
      <div class="px-4 py-3  sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" (click)="onCloseLastModal()"
          class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover: focus:outline-none focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal to list viajes -->
</div>