<div class="flex justify-between w-full">
  <!-- Links -->
  <ul class="flex space-x-12">
    <li>
      <a href="#">Global</a>
    </li>
    <li>
      <a class="text-gray-400" href="#">SIBUC</a>
    </li>
  </ul>
  <!-- End Links -->

  <!-- User Info -->
  <div class="flex items-center justify-center space-x-2 cursor-pointer">
    <!-- User Image -->
    <div class="w-8 h-8 rounded-full bg-brand">
    </div>
    <!-- End User Image -->

    <!-- Actions -->
    <div class="flex items-center justify-center space-x-2">
      <span>Usuario</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </div>
    <!-- End Actions -->
  </div>
  <!-- End User Info -->
</div>
